includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/

    # Level 5 is a good baseline for existing projects without being overly pedantic
    level: 5

    # Ignore generic iterable type errors for now to reduce noise
    checkMissingIterableValueType: false
